
p{
    display: inline-block;
    margin:20px;
}
li{
    display: flex;
    border: 2px solid black;
    list-style-type: none;
    margin-top: 10px;
}
.fas{
    margin: 15px 25px 0 auto;
    color: black;
    font-size: 25px;
}